
<p>
    <strong>Account Holder:</strong>
    <%= @account.account_holder %>
  </p>
   
  <p>
    <strong>Description:</strong>
    <%= @account.description %>
  </p>

  <p>
    <strong>Balance:</strong>
    $<%= @account.balance %>
  </p>
</p>
  